* {
 margin: 0px;
}
body {
 background-color: #d4d1d0;
 font-size: 1.2em;
}
header {
 /* background: #6A675F; */
 padding-top: 2px;
 padding-left: 8px;
 padding-bottom: 2px;
 padding-right: 8px;
}
header,.nav {
 /* border: 1px solid black; */
 display: flex;
 justify-content: space-between;
 align-items: center; 
 flex-wrap: wrap; 
}
/* navigation bar */
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 border-radius: 15px;
 overflow: hidden;
}
li {
 display: inline;
}
a {
 display: block;
 border-radius: 15px;
 padding: 10px;
 color: white;
 text-align: center;
 text-decoration: none;
}
a:hover {
 background-color: #963e0b;
 /* border-radius: 15px; */
}
a.active {
 background-color: #752a04;
}
/*li a:hover:not(.active) {
 background: linear-gradient(
  to right, #752a04, #963e0b, #c48c6c
 );
}*/
/* main content */
section {
 margin: 8px;
}
.about {
 display: flex;
 align-items: center;
}
.about img {
 width: 45%;
 height: auto;
}
.about div {
 width: 50%;
}
.about h2 {
 text-align: start;
}
/* .about p {
 justify-content: space-evenly;
} */
.about button {
 width: 5em;
 margin-top: 5px;
 border: none;
 border-radius: 10px;
 padding: 5px;
 background-color: #e4b45c;
}
h2 {
 text-align: center;
}
.project_container {
 margin-top: 8px;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
.project_container div {
 width: 220px;
 height: 280px;
 margin-top: 10px;
 border: 1px solid black;
 display: flex;
 flex-direction: column;
 justify-content: flex-end; 
 align-items: center;
}
/*h3 {
 justify-content: flex-end;
}*/
/* I have no idea what the fuck is wrong with this */

/*#wso {
 background-image: url(/Web School Offline/WebSchoolOffline.png);
}*/

/*.wso {
 background-image: url(/Web School Offline/WebSchoolOffline.png);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}*/
