* {
 margin: 0px;
}
body {
 font-size: 1.2em;
}
header {
 /* background: #6A675F; */
 padding-top: 2px;
 padding-left: 8px;
 padding-bottom: 2px;
 padding-right: 8px;
}
header,.nav {
 /* border: 1px solid black; */
 display: flex;
 justify-content: space-between;
 align-items: center; 
 flex-wrap: wrap; 
}
.nav li {
 display: block; 
 margin: 5px;
 /* border: 1px solid black; */
}
section {
 margin: 8px;
}
.about {
 display: flex;
 align-items: center;
}
.about img {
 width: 45%;
 height: auto;
}
.about div {
 width: 50%;
}
.about h2 {
 text-align: start;
}
/* .about p {
 justify-content: space-evenly;
} */
.about button {
 margin-top: 5px;
}
h2 {
 text-align: center;
}
.project_container div {
 width: 100%;
 height: 200px;
 margin-bottom: 10px;
 border: 1px solid black;
}