* {
 margin: 0px;
}
body {
 font-size: 1.2em;
}
header {
 /* background: #6A675F; */
 padding-top: 2px;
 padding-left: 8px;
 padding-bottom: 2px;
 padding-right: 8px;
}
header,.nav {
 /* border: 1px solid black; */
 display: flex;
 justify-content: space-between;
 align-items: center; 
 flex-wrap: wrap; 
}
.nav li {
 display: block; 
 margin: 5px;
 /* border: 1px solid black; */
}
section {
 margin: 8px;
}
.about {
 display: flex;
 align-items: center;
}
.about img {
 width: 45%;
 height: auto;
}
.about div {
 width: 50%;
}
.about h2 {
 text-align: start;
}
/* .about p {
 justify-content: space-evenly;
} */
.about button {
 margin-top: 5px;
}
h2 {
 text-align: center;
}
.project_container {
 margin-top: 8px;
 display: flex;
 justify-content: space-evenly;
}
.project_container div {
 width: 30%;
 height: 250px;
 margin-top: 10px;
 border: 1px solid black;
 display: flex;
 flex-direction: column;
 justify-content: flex-end; 
 align-items: center;
}
/*h3 {
 justify-content: flex-end;
}*/
/* I have no idea what the fuck is wrong with this */
.wso {
 background-image: url(/Web School Offline/WebSchoolOffline.png);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
