* {
 margin: 0;
}
nav {
 height: 45px;
 display: flex;
 background: linear-gradient(
  to right, #35E97E, #25C386, #15A08D
  );
 box-shadow: 0px 5px 8px grey;
}
nav canvas {
 width: 50px;
 height: 50px;
 border: 1px solid black;
}
.nav_container {
 width: 30%;
 background: linear-gradient(
  to right, #35E97E, #25C386, #15A08D
  );
 display: flex;
}
.nav_container div {
 width: 49%;
 height: auto;
 border: 0.5px solid #35E97E; 
 display: flex;
 justify-content: center;
 align-items: center;
}
div img {
 width: 100%;
 height: auto;
}
.home img {
 width: 70%;
 height: auto;
 /* justify-content: center; */
}

header h1 {
 margin: 15px;
 font-weight: normal;
}